<ion-view>
    <ion-content scroll="false" class="no-header content-wraper cover-image"
                 style="background-image: url('img/invitation-user-bg.jpg')">
        <div class="spacer-44"></div>
        <div class="row flex-vertical text-center full-height">
            <div class="col-25 full-max-width">
                <h3>
                    <span>Roy</span>邀请您访问</br><span>“广州范思可信息科技”</span>
                </h3>
            </div>

            <div class="col-50 row row-center full-max-width">
                <div class="col">
                    <img src="img/qr-wx.jpg" id="qr-wx">

                    <div class="spacer-10"></div>
                    <p>
                        请关注“叩叩微信公众号”获取门禁卡</br>
                        长按图片识别二维码/搜索“LEATOP-PLAZA”
                    </p>
                </div>
            </div>
        </div>

        <div class="brand brand-white text-center">叩叩智慧楼宇系统™</div>
    </ion-content>
</ion-view>