<ion-view title="follow-visitor">
    <ion-content padding="true" class="no-header">
        <div style="height: 44px;"></div>
        <div style="text-align: center">
            <img src="img/avatar-img.png"/>
            <h3>
                Victoria Gilson
            </h3>
            <p>
                <span>Roy</span>邀请您访问</br><span>“广州范思可信息科技”</span>
            </p>
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <p>
                请关注“叩叩微信公众号”获取门禁卡</br>
                长按图片识别二维码/搜索“LEATOP-PLAZA”
            </p>

        </div>
    </ion-content>
</ion-view>