<ion-view title="follow-visitor">
    <ion-content scroll="false" class="no-header content-wraper cover-image"
                 style="background-image: url('img/invitation-user-bg.jpg')">

        <div class="row flex-vertical text-center" style="height: 100%;">
            <div class="col">
                <div class="spacer-20"></div>
                <p>
                    <span>Roy</span>邀请您访问</br><span>“广州范思可信息科技”</span>
                </p>
            </div>

            <div class="col">
                <img src="img/qr-wx.svg" id="qr-wx">
                <div class="spacer-10"></div>
                <p>
                    请关注“叩叩微信公众号”获取门禁卡</br>
                    长按图片识别二维码/搜索“LEATOP-PLAZA”
                </p>
            </div>
        </div>

        <div class="brand brand-white text-center">叩叩微信访客系统™</div>
    </ion-content>
</ion-view>