<ion-view title="invitation-user">
    <ion-content padding="true" class="has-header">
        <div style="text-align: center">
            <h2>
                邀请函
            </h2>
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <p>
                邀请成功创建于
            </p>
            <h2>
                13:00
            </h2>
            <p>
                点击右上角“…”，分享给小伙伴 邀请他访问
                <span>“广州范思可信息科技”</span>
            </p>
        </div>

    </ion-content>

    <button style="position: absolute; bottom: 20px" class="button button-stable button-block ">删除邀请</button>
</ion-view>