<ion-view title="invitation-user" xmlns="http://www.w3.org/1999/html">
    <ion-content scroll="false" class="no-header content-wraper cover-image"
                 style="background-image: url('img/invitation-user-bg.jpg')">
        <a class="button button-clear" nav-direction="back" href="#/invitation-form">
            <img src="img/icon-arrow-back.svg" class="nav-icon">
        </a>
        <button class="button button-clear align-right">
            <img src="img/icon-share.svg" class="nav-icon">
        </button>

        <div class="row flex-vertical text-center" style="height: 100%;">

            <div class="col">
                <h2>邀请函</h2>

                <div class="spacer-20"></div>
                <img id="icon-invitation" src="img/icon-invitation.svg">
            </div>

            <div class="col">
                <p>邀请成功创建于</p>

                <h2 class="invitation-time">13:00</h2>

                <p>
                    点击右上角“…”，分享给小伙伴
                    </br>
                    邀请他访问
                    <span>“广州范思可信息科技”</span>
                </p>
            </div>

            <div class="col-30">
                <div class="row">
                    <button class="button button-balanced button-block">删除邀请函</button>
                </div>
            </div>
            <div class="col-10"></div>
        </div>
    </ion-content>
</ion-view>