<ion-view>
    <ion-header-bar class="default-bar-header">
        <a class="button button-clear icon ion-ios-arrow-thin-left" nav-direction="back" href="#/landing"></a>
    </ion-header-bar>
    <ion-content padding="true" class="no-header" scrollbar-y="false">
        <div style="height: 44px;"></div>
        <form>
            <ion-list>
                <label class="item item-select">
                    <span class="input-label">选择您所在的楼层</span>
                    <select>
                        <option selected>0 层</option>
                        <option>1 层</option>
                        <option>1 层</option>
                    </select>
                </label>
                <label class="item item-select">
                    <span class="input-label">选择您所属的企业</span>
                    <select>
                        <option selected>xx 公司</option>
                        <option>xx 公司</option>
                        <option>xx 公司</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">您的拜访对象</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">到访日期</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">到达时间</span>
                    <input type="time" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">离开时间</span>
                    <input type="time" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">到访人数</span>
                    <input type="number" placeholder="">
                </label>
            </ion-list>

            <div style="height: 40px;"></div>
            <a href="#/" class="button button-positive button-block ">保 存</a>
        </form>
    </ion-content>
</ion-view>