<ion-view>
    <a class="button button-clear layer-top" nav-direction="back" href="#/invitation-form">
        <img src="img/icon-arrow-back.svg" class="nav-icon">
    </a>
    <button class="button button-clear align-right layer-top">
        <img src="img/icon-share.svg" class="nav-icon">
    </button>

    <ion-content scroll="false" padding="true" class="no-header content-wraper cover-image"
                 style="background-image: url('img/invitation-user-bg.jpg')">

        <div class="row flex-vertical text-center full-height">
            <div class="spacer-30"></div>
            <div class="col-33 full-max-width">
                <h2>邀请函</h2>

                <div class="spacer-20"></div>
                <img id="icon-invitation" src="img/icon-invitation.svg">
            </div>

            <div class="col-50 row row-center full-max-width">
                <div class="col">
                    <p>邀请成功创建于</p>

                    <h2 class="invitation-time">13:00</h2>

                    <p>
                        点击右上角“…”，分享给小伙伴
                        </br>
                        邀请他访问
                        <span>“广州范思可信息科技”</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="btn-bottom">
            <button class="button button-trans button-block">删除邀请函</button>
        </div>
    </ion-content>
</ion-view>