<ion-view>
    <ion-header-bar class="default-bar-header bar-positive">
        <a class="button button-clear" nav-direction="back" ng-click="goBackHistory()">
            <img src="img/icon-arrow-back.svg" class="nav-icon">
        </a>
    </ion-header-bar>
    <ion-content padding="true" class="no-header" scrollbar-y="false" style="background-color: white;">
        <div class="spacer-44"></div>
        <form name="invitationForm" novalidate ng-controller="SignUpFormCtrl">
            <ion-list>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">到访日期</span>
                    <!--<input name="passValDate" type="date" ng-model="passValDate" placeholder="" required>-->
                    <ionic-datepicker idate="currentDate" disablepreviousdates="true"  callback="datePickerCallback">
                        <button class="button button-block button-clear"> {{ currentDate | date:'yyyy年MM月dd日' }} </button>
                    </ionic-datepicker>
                    <img class="icon" src="img/icon-calender.svg">
                </label>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">到达时间</span>
                    <!--<input name="passValFrom" type="time" ng-model="passValFrom" placeholder="" required>-->
                    <ionic-timepicker etime="slots[0].epochTime" format="slots[0].format" step="slots[0].step" callback="timePickerFromCallback">
                        <button class="button button-block button-clear">
                            <standard-time-no-meridian etime='slots[0].epochTime'></standard-time-no-meridian>
                        </button>
                    </ionic-timepicker>
                    <img class="icon" src="img/icon-clock.svg">
                </label>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">离开时间</span>
                    <!--<input name="passValTo" type="time" ng-model="passValTo" placeholder="" required>-->
                    <ionic-timepicker etime="slots[1].epochTime" format="slots[1].format" step="slots[1].step" callback="timePickerToCallback">
                        <button class="button button-block button-clear">
                            <standard-time-no-meridian etime='slots[1].epochTime'></standard-time-no-meridian>
                        </button>
                    </ionic-timepicker>
                    <img class="icon" src="img/icon-clock.svg">
                </label>
            </ion-list>
            <button ng-click="submitInvitationForm()" ng-disabled="!invitationForm.$valid"class="button button-light button-block btn-submit">保 存</button>

            <div class="brand text-center">叩叩智慧楼宇系统™</div>
        </form>
    </ion-content>
</ion-view>