<ion-view id="landing">
    <ion-content padding="true" scroll="false" hide-nav-bar="true" class="cover-image" style="background-image: url('img/landing-bg.jpg')">
        <div class="row row-center" style="height: 100%;">
            <div class="col text-center">
                <img src="img/logo.svg">
                <div>叩叩微信访客系统™</div>
                <div class="spacer-150"></div>
            </div>
        </div>
    </ion-content>
    <div class="button-bar">
        <a href="#/signup-user" nav-direction="forward" class="button button-large button-balanced button-block ">
            申请成为员工
        </a>
        <a href="#/signup-visitor" nav-direction="forward" class="button button-large button-positive button-block ">申请成为访客</a>
    </div>
</ion-view>