<ion-view id="landing">
    <ion-content padding="true" scroll="false" hide-nav-bar="true" class="cover-image" style="background-image: url('img/landing-bg.jpg')">
        <div class="row row-center full-height">
            <div class="col text-center">
                <img src="img/logo.svg">
                <div>叩叩智慧楼宇系统™</div>
                <div class="spacer-150"></div>
            </div>
        </div>
    </ion-content>
        <div class="button-bar">
            <a href="{{userLink}}" nav-direction="forward" class="button button-large button-royal button-block " style="  padding-top: 3px;">
                进入个人中心
            </a>
            <button ui-sref="signupUser" nav-direction="forward" class="button button-large button-balanced button-block ">
                楼宇会员申请
            </button>
            <button ui-sref="signupVisitor" nav-direction="forward" class="button button-large button-positive button-block ">
                发起访客申请
            </button>
        </div>
</ion-view>