
<ion-view>
    <ion-content padding="true" scroll="false" hide-nav-bar="true">
        <div class="row row-center" style="height: 100%;">
            <div class="col">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div class="spacer" style="height: 200px;"></div>
            </div>
        </div>
    </ion-content>
    <div class="button-bar" style="bottom: 0; position: absolute;">
        <a href="#/signup-user" nav-direction="forward" class="button button-stable button-block ">申请成为员工</a>
        <a href="#/signup-visiter" nav-direction="forward" class="button button-stable button-block ">申请成为访客</a>
    </div>
</ion-view>