<ion-view>
    <button class="button button-clear layer-top" nav-direction="back" ng-click="goBackHistory()">
        <img src="img/icon-arrow-back.svg" class="nav-icon">
    </button>

    <ion-content scroll="false" padding="true" class="no-header content-wraper cover-image"
                 style="background-image: url('img/manage-user-bg.jpg')">

        <div class="spacer-30"></div>

        <div class="row flex-vertical text-center full-height">
            <div class="col-33 full-max-width">
                <div class="cover-image avatar user-avatar" ng-style="{'background-image': 'url('+ card.passUser.avatar +')'} "></div>
                <h3 class="">
                    {{card.passUser.name}}
                </h3>

                <p class="">
                    申请于{{card.passValFrom * 1000 | date:'MM月dd日'}}访问贵公司
                </p>

                <h2>{{card.passValFrom * 1000 | date:'HH:mm'}}
                    <img class="icon-arrows" src="img/icon-arrows-white.svg">
                    {{card.passValTo * 1000 | date:'HH:mm'}}
                </h2>
            </div>

            <div class="col-50 row row-center full-max-width">
                <div class="col">
                    <button class="button icon ion-android-call btn-call"></button>
                </div>
            </div>
        </div>

        <div class="row btn-bottom btn-bottom-group">
            <button ng-click="openPass()" class="col button button-positive">开启</button>
            <button ng-click="closePass()" class="col button button-balanced">关闭</button>
        </div>
    </ion-content>

</ion-view>