<ion-view title="manage-user">
    <button class="button button-clear" nav-direction="back" ng-click="goBackHistory()" style="z-index: 99;">
        <img src="img/icon-arrow-back.svg" class="nav-icon">
    </button>

    <ion-content scroll="false" padding="true" class="no-header content-wraper cover-image"
                 style="background-image: url('img/manage-user-bg.jpg')">

        <div class="spacer-30"></div>

        <div class="row flex-vertical text-center" style="height: 100%;">
            <div class="col-33" style="max-width: 100%">
                <div class="cover-image avatar user-avatar" ng-style="{'background-image': 'url('+ card.passUser.avatar +')'} "></div>
                <h3 class="">
                    {{card.passUser.name}}
                </h3>

                <p class="">
                    申请于{{card.passValFrom * 1000 | date:'MM月dd日'}}访问贵公司
                </p>

                <h2>{{card.passValFrom * 1000 | date:'HH:mm'}}
                    <img class="icon-arrows" src="img/icon-arrows-white.svg">
                    {{card.passValTo * 1000 | date:'HH:mm'}}
                </h2>
            </div>

            <div class="col-50 row row-center" style="max-width: 100%">
                <div class="col">
                    <button class="button icon ion-android-call btn-call"></button>
                </div>
            </div>
        </div>

        <div class="row btn-bottom" style="width: auto">
            <button ng-click="openPass()" class="col button button-positive" style="margin-right: 5px;">开启</button>
            <button ng-click="closePass()" class="col button button-balanced" style="margin-left: 5px;">关闭</button>
        </div>
    </ion-content>

</ion-view>