<ion-view title="qr-card">
    <ion-content padding="true" class="no-header">
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/avatar-img.png">
                        <h2>Ariana Attwood</h2>
                        <p></p>
                    </ion-item>
                </ion-list>
                <div style="text-align: center">
                    <h2>
                        12:30-17:30
                    </h2>
                </div>
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div style="text-align: center">
                    <p>
                        二维码每分钟自动更新
                    </p>
                </div>
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/avatar-img.png">
                        <h2>Sara Cramer</h2>
                        <p>利通广场7楼，广州范思可信息科技</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>