<ion-view title="qr-card">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/avatar-img.png">
                        <h2>Title</h2>
                        <p>Item</p>
                    </ion-item>
                </ion-list>
                <div>
                    12:30-17:30
                </div>
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div>
                    hello
                </div>
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/avatar-img.png">
                        <h2>Title</h2>
                        <p>Item</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>