<ion-view>
    <ion-header-bar class="header-shrink-bar-header positive-bg">
        <a class="button button-clear" nav-direction="back" href="#/landing">
            <img src="img/icon-arrow-back.svg" class="nav-icon">
        </a>

        <div class="title">
            <div class="row" style="height: 205px;">
                <div class="col">
                </div>
                <div class="col">
                    <div class="spacer-30"></div>
                    <div class="avatar avatar-bg cover-image row">
                        <div class="cover-image user-avatar-large margin-center col-center" ng-style="{'background-image': 'url('+user.avatar+')'} "></div>
                    </div>
                    <h4>{{user.name}}</h4>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </ion-header-bar>

    <ion-content header-shrink scroll-event-interval="5" padding="true" class="no-header" scrollbar-y="false">
        <div style="height: 190px;"></div>
        <form>
            <ion-list>
                <label class="item item-input border-bottom">
                    <span class="input-label">姓名</span>
                    <input ng-model="user.name" type="text" placeholder="">
                    <input ng-model="user.openId" type="hidden">
                </label>
                <label class="item item-select border-bottom">
                    <span class="input-label">选择您访问的楼层</span>
                    <select ng-model="floorNumb">
                        <option ng-repeat="(key, value) in $root.companyList" value="{{key}}">{{value.floor}} 层</option>
                    </select>
                </label>
                <label class="item item-select border-bottom">
                    <span class="input-label">选择您访问的企业</span>
                    <select ng-model="companyId" ng-change="changedValue(companyId)" >
                        <option ng-repeat="(key, value) in $root.companyList[floorNumb]['companyList']" value="{{value.id}}">{{value.name}}</option>
                    </select>
                </label>
                <label class="item item-input border-bottom" style="z-index: 99;overflow: visible;">
                    <span class="input-label">您的拜访对象</span>
                    <ion-autocomplete ng-model="senderID"
                                      item-value-key="name"
                                      item-view-value-key="name"
                                      item-view-value-key="openId"
                                      items-method="getTestItems(query)"
                                      items-method-value-key="items"
                                      placeholder="填写拜访对象姓名"
                                      items-clicked-method="itemsClicked(callback)"
                                      select-items-label="从下列列表中选择..."
                                      selected-items-label="Selected:"/>
                </label>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">到访日期</span>
                    <input type="date" placeholder="">
                    <img class="icon" src="img/icon-calender.svg">
                </label>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">到达时间</span>
                    <input type="time" placeholder="">
                    <img class="icon" src="img/icon-clock.svg">
                </label>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">离开时间</span>
                    <input type="time" placeholder="">
                    <img class="icon" src="img/icon-clock.svg">
                </label>
                <label class="item item-input border-bottom">
                    <span class="input-label">到访人数</span>
                    <input type="number" placeholder="">
                </label>
                <label class="item item-input border-bottom">
                    <span class="input-label">手机号码</span>
                    <input type="tel" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input item-button-right border-bottom">
                <span class="input-label">验证码</span>
                <input type="text" placeholder="">
                <button class="button button-small button-balanced">获取验证码</button>
            </label>

            <a href="#/" class="button button-light button-block btn-submit">提交申请</a>
        </form>

        <div class="brand text-center">叩叩微信访客系统™</div>
    </ion-content>
</ion-view>