<ion-view>
    <ion-header-bar class="header-shrink-bar-header positive-bg">
        <a class="button button-clear" nav-direction="back" ng-click="goBackHistory()">
            <img src="img/icon-arrow-back.svg" class="nav-icon">
        </a>

        <div class="title">
            <div class="row" style="height: 205px;">
                <div class="col">
                </div>
                <div class="col-100">
                    <div class="spacer-30"></div>
                    <div class="avatar avatar-bg cover-image row">
                        <div class="cover-image avatar user-avatar-large col-center"
                             ng-style="{'background-image': 'url('+user.avatar+')'} "></div>
                    </div>
                    <h4>{{user.name}}</h4>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content header-shrink scroll-event-interval="5" padding="true" class="no-header" scrollbar-y="false">
        <div style="height: 190px;"></div>
        <form name="signUpForm" novalidate ng-controller="SignUpFormCtrl">
            <ion-list>
                <label class="item item-input border-bottom">
                    <span class="input-label">姓名</span>
                    <input name="username" ng-model="username" type="text" placeholder="">
                    <input name="openId" ng-model="user.openId" type="hidden">
                </label>
                <label class="item item-select border-bottom">
                    <span class="input-label">选择您所在的楼层</span>
                    <select ng-model="floorNumb">
                        <option ng-repeat="(key, value) in $root.companyList" value="{{key}}">{{value.floor}} 层</option>
                    </select>
                </label>
                <label class="item item-select border-bottom">
                    <span class="input-label">选择您所属的企业{{companyId}}</span>
                    <select name="passCompany" ng-model="company" required>
                        <option ng-repeat="(key, value) in $root.companyList[floorNumb]['companyList']" value="{{value.id}}">{{value.name}}</option>
                    </select>
                </label>
                <label class="item item-input border-bottom">
                    <span class="input-label">身份证号</span>
                    <input name="cardId" type="tel" ng-model="idCardNum" placeholder="" ng-minlength=18 ng-maxlength=18 required>
                </label>
                <label class="item item-input border-bottom">
                    <span class="input-label">手机号码</span>
                    <input name="mobile" type="tel" ng-model="mobileNum" placeholder="" ng-pattern="/\d{11}/" ng-maxlength=11 required>
                </label>
                <div class="item item-input item-button-right border-bottom">
                    <span class="input-label">验证码</span>
                    <input name="mobileValidate" type="tel" ng-model="mobileValidate" placeholder="" ng-pattern="/\d{6}/" ng-maxlength=6 required>
                    <button ng-disabled="!signUpForm.mobile.$valid || counter<60" ng-click="mobileCheck()" class="button button-small button-balanced" style="min-width: 80px;"><span ng-if="counter < 60"> {{counter}}秒后再试</span><span ng-if="counter == 60">获取验证码</span></button>
                </div>
            </ion-list>
            <button ng-disabled="!signUpForm.$valid" ng-click="submitSignUpUser()" class="button button-light button-block btn-submit">提交申请</button>
        </form>

        <div class="form-brand text-center">叩叩智能楼宇系统™</div>
    </ion-content>
</ion-view>