<ion-view>
    <ion-header-bar class="header-shrink-bar-header positive-bg">
        <a class="button button-clear" nav-direction="back" ng-click="goBackHistory()">
            <img src="img/icon-arrow-back.svg" class="nav-icon">
        </a>

        <div class="title">
            <div class="row" style="height: 205px;">
                <div class="col">
                </div>
                <div class="col-100">
                    <div class="spacer-30"></div>
                    <div class="avatar avatar-bg cover-image row">
                        <div class="cover-image user-avatar-large margin-center col-center" ng-style="{'background-image': 'url('+user.avatar+')'} "></div>
                    </div>
                    <h4>{{user.name}}</h4>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </ion-header-bar>

    <ion-content header-shrink scroll-event-interval="5" padding="true" class="no-header" scrollbar-y="false">
        <div style="height: 190px;"></div>
        <form name="signUpForm" novalidate ng-controller="SignUpFormCtrl">
            <ion-list>
                <label class="item item-input border-bottom">
                    <span class="input-label">姓名</span>
                    <input name="username" ng-model="user.name" type="text" placeholder="">
                    <input name="openId" ng-model="user.openId" type="hidden">
                </label>
                <label class="item item-select border-bottom">
                    <span class="input-label">选择您访问的楼层</span>
                    <select ng-model="floorNumb">
                        <option ng-repeat="(key, value) in $root.companyList" value="{{key}}">{{value.floor}} 层</option>
                    </select>
                </label>
                <label class="item item-select border-bottom">
                    <span class="input-label">选择您访问的企业{{companyId}}</span>
                    <select name="passCompany" ng-model="company" ng-change="changedValue(company)" >
                        <option ng-repeat="(key, value) in $root.companyList[floorNumb]['companyList']" value="{{value.id}}">{{value.name}}</option>
                    </select>
                </label>
                <label class="item item-input border-bottom" style="z-index: 99;overflow: visible;">
                    <span class="input-label">您的拜访对象</span>
                    <ion-autocomplete ng-model="senderID"
                                      item-value-key="name"
                                      item-view-value-key="name"
                                      item-view-value-key="openId"
                                      items-method="getTestItems(query)"
                                      items-method-value-key="items"
                                      placeholder="填写拜访对象姓名"
                                      items-clicked-method="itemsClicked(callback)"
                                      select-items-label="从下列列表中选择..."
                                      selected-items-label="Selected:"
                                      required/>
                </label>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">到访日期</span>
                    <!--<input name="passValDate" type="date" ng-model="passValDate" placeholder="" required>-->
                    <ionic-datepicker idate="currentDate" disablepreviousdates="true"  callback="datePickerCallback">
                        <button class="button button-block button-clear"> {{ currentDate | date:'yyyy年MM月dd日' }} </button>
                    </ionic-datepicker>
                    <img class="icon" src="img/icon-calender.svg">
                </label>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">到达时间</span>
                    <!--<input name="passValFrom" type="time" ng-model="passValFrom" placeholder="" required>-->
                    <ionic-timepicker etime="slots[0].epochTime" format="slots[0].format" step="slots[0].step" callback="timePickerFromCallback">
                        <button class="button button-block button-clear">
                            <standard-time-no-meridian etime='slots[0].epochTime'></standard-time-no-meridian>
                        </button>
                    </ionic-timepicker>
                    <img class="icon" src="img/icon-clock.svg">
                </label>
                <label class="item item-input border-bottom item-icon-right">
                    <span class="input-label">离开时间</span>
                    <!--<input name="passValTo" type="time" ng-model="passValTo" placeholder="" required>-->
                    <ionic-timepicker etime="slots[1].epochTime" format="slots[1].format" step="slots[1].step" callback="timePickerToCallback">
                        <button class="button button-block button-clear">
                            <standard-time-no-meridian etime='slots[1].epochTime'></standard-time-no-meridian>
                        </button>
                    </ionic-timepicker>
                    <img class="icon" src="img/icon-clock.svg">
                </label>
                <label class="item item-input border-bottom">
                    <span class="input-label">到访人数</span>
                    <input name="passNumber" type="tel" ng-model="passNumber" placeholder="" required>
                </label>
                <label class="item item-input border-bottom">
                    <span class="input-label">手机号码</span>
                    <input name="mobile" type="tel" ng-model="mobileNum" placeholder="" ng-pattern="/\d{11}/" ng-maxlength=11 required>
                </label>
                <div class="item item-input item-button-right border-bottom">
                    <span class="input-label">验证码</span>
                    <input name="mobileValidate" type="tel" ng-model="mobileValidate" placeholder="" ng-pattern="/\d{6}/" ng-maxlength=6 required>
                    <button ng-disabled="!signUpForm.mobile.$valid || counter<60" ng-click="mobileCheck()" class="button button-small button-balanced" style="min-width: 80px;"><span ng-if="counter < 60"> {{counter}}秒后再试</span><span ng-if="counter == 60">获取验证码</span></button>
                </div>
            </ion-list>
            <button ng-disabled="!signUpForm.$valid" ng-click="submitSignUpVisitor()" class="button button-light button-block btn-submit">提交申请</button>
        </form>

        <div class="form-brand text-center">叩叩智能楼宇系统™</div>
    </ion-content>
</ion-view>