<ion-content delegate-handle="tab-2-content" header-shrink-button-group scroll-event-interval="5" class="no-header" scrollbar-y="false">
    <div style="height: 270px;"></div>
    <ion-list>
        <ion-item ng-repeat="pass in passList | filter:{ passStatus:'!2'}" class="item-avatar item-icon-right border-bottom-half" ui-sref="manageUser({id:pass.passId})">
            <img ng-src="{{pass.passUser.avatar}}">
            <div class="item-title">{{pass.passUser.name}}</div>
            <div class="item-sub-title">{{pass.passValFrom * 1000 | date:'MM/dd HH:mm'}}-{{pass.passValTo * 1000 | date:'HH:mm'}}</div>
            <img ng-if="pass.passStatus == 1" src="img/icon-open.svg" class="icon" style="width: 20px; right:20px;"/>
            <img ng-if="pass.passStatus == 0" src="img/icon-close.svg" class="icon" style="width: 20px; right:20px;"/>
        </ion-item>
    </ion-list>

    <div class="text-center no-apply">
        <div class="spacer-10"></div>
        <img src="img/icon-empty.svg">

        <div class="spacer-10"></div>
        <div class="text-center no-apply-des">暂未收到访客申请</br>
            您可以点击头像左侧二维码查看您的门禁卡</br>
            或点击右侧加号邀请访客
        </div>
    </div>
</ion-content>