<ion-side-menus>
    <ion-side-menu side="left">
        <ion-content padding="true" scroll="true">
            <img class="logo-menu" src="img/logo-menu.svg"/>
            <ion-list>
                <ion-item class="item" ui-sref="{{(user.userRole == 1) ? 'qrCardVisitor({id:firstPass.passId})' : 'qrCardVisitor({id:firstPass.passId})'}}" nav-direction="forward" menu-toggle="left">
                    <img  src="img/menu-icon-qr.svg" class="menu-image-icon"/>
                    门禁卡
                    <!--<span class="badge badge-positive" style="left: 90px;right: auto;">2</span>-->
                </ion-item>
                <ion-item class="item" href="#/invitation-visitor" nav-direction="forward" menu-toggle="left">
                    <img src="img/menu-icon-bag.svg" class="menu-image-icon"/>
                    邀请访客</ion-item>
                <ion-item class="item" href="http://weixin.leatop.com/leatop/shop/mycoupon.php">
                    <img src="img/menu-icon-user.svg" class="menu-image-icon"/>
                    我的优惠券</ion-item>
                <ion-item class="item" href="http://weixin.leatop.com/leatop/shop/restaurant.php">
                    <img src="img/menu-icon-food.svg" class="menu-image-icon"/>
                    线上点餐</ion-item>
                <ion-item class="item" href="http://weixin.leatop.com/leatop/shop/index.php">
                    <img src="img/menu-icon-sale.svg" class="menu-image-icon"/>
                    福利联盟</ion-item>
                <ion-item class="item" href="http://leatop.dejian-tech.com/index.php/Home/Parking/index.html">
                    <img src="img/menu-icon-location.svg" class="menu-image-icon"/>
                    停车位查询</ion-item>
                <ion-item class="item" href="http://leatop.dejian-tech.com/index.php/Home/Company/index.html">
                    <img src="img/menu-icon-bag.svg" class="menu-image-icon"/>
                    大楼水牌</ion-item>

                <ion-item class="item" href="http://leatop.dejian-tech.com/index.php/Home/About/index?id=17">
                    <img src="img/menu-icon-bus.svg" class="menu-image-icon"/>
                    穿梭巴士</ion-item>
                <ion-item class="item" href="http://weixin.leatop.com/leatop/html/san.html">
                    <img src="img/menu-icon-umbrella.svg" class="menu-image-icon"/>
                    借伞服务</ion-item>
            </ion-list>

            <div style="height: 35px;"></div>
            <div class="text-center">叩叩智慧楼宇系统™</div>
            <div style="height: 35px;"></div>
        </ion-content>

    </ion-side-menu>
    <ion-pane ion-side-menu-content="">
        <ion-header-bar class="user-center-header" ng-if="user" style="background-color: #47a0db;">
            <button menu-toggle="left" class="button button-clear">
                <img src="img/menu-icon.svg" class="nav-icon">
            </button>
            <a ng-if="user.userRole == 1 && !isLanding" class="button button-clear layer-top" ng-click="goBackHistory()">
                <img src="img/icon-arrow-back.svg" class="nav-icon">
            </a>
            <div class="title" style="height: 100%;">
                <h4 class="header-title">{{user.name}} <span ng-if="user.userRole == 2">的访问记录</span></h4>
                <div class="row row-center user-center-header-row" style="height: 205px;padding-bottom: 30px;">
                    <div class="col" style="position: relative;">

                        <a ui-sref="qrCardUser" ng-if="user.userRole == 1 && !isLanding" nav-direction="forward" style="background-image: url(img/qr-icon.svg);background-size: 14px 14px;"  class="round-button margin-center cover-image"></a>
                        <a  ng-if="firstPass" ui-sref="qrCardVisitor({id:firstPass.passId})" ng-if="user.userRole == 2" nav-direction="forward" style="background-image: url(img/qr-icon.svg);background-size: 14px 14px;"  class="round-button margin-center cover-image"></a>
                        <a  ng-if="!firstPass" href="http://weixin.leatop.com/leatop/shop/mycoupon.php" ng-if="user.userRole == 2" nav-direction="forward" style="background-image: url(img/lable-icon.svg);background-size: 14px 14px;"  class="round-button margin-center cover-image"></a>
                    </div>
                    <div class="col-100" style="position: relative;">
                        <div class="avatar avatar-bg cover-image">
                            <div class="cover-image user-avatar-large margin-center" ng-style="{'background-image': 'url('+user.avatar+')'} "></div>
                        </div>
                    </div>
                    <div class="col" style="position: relative;">
                        <a nav-direction="forward" ng-if="user.userRole == 1 && !isLanding" ui-sref="invitationVisitor" style="background-image: url(img/plus-icon.svg);background-size: 12px 12px;"  class="round-button margin-center cover-image" >
                        </a>
                        <a nav-direction="forward" ng-if="user.userRole == 2" ui-sref="signupVisitor" style="background-image: url(img/plus-icon.svg);background-size: 12px 12px;"  class="round-button margin-center cover-image" >
                        </a>
                    </div>
                </div>
            </div>
        </ion-header-bar>
        <ion-nav-view name="user-center"></ion-nav-view>


    </ion-pane>
</ion-side-menus>