<ion-content delegate-handle="tab-1-content" header-shrink-button-group scroll-event-interval="5" padding="true" class="no-header" scrollbar-y="false">
    <div style="height: 270px;"></div>
    <ion-list>
        <ion-item class="item-avatar item-icon-right" nav-direction="forward" ui-sref="manageUser">
            <img src="img/avatar-img.png">
            <h2>Title</h2>
            <p>Item</p>
            <i class="icon ion-ios-more"></i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" nav-direction="forward" ui-sref="manageUser">
            <img src="img/avatar-img.png">
            <h2>Title</h2>
            <p>Item</p>
            <i class="icon ion-ios-more"></i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" nav-direction="forward" ui-sref="manageUser">
            <img src="img/avatar-img.png">
            <h2>Title</h2>
            <p>Item</p>
            <i class="icon ion-ios-more"></i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" nav-direction="forward" ui-sref="manageUser">
            <img src="img/avatar-img.png">
            <h2>Title</h2>
            <p>Item</p>
            <i class="icon ion-ios-more"></i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" nav-direction="forward" ui-sref="manageUser">
            <img src="img/avatar-img.png">
            <h2>Title</h2>
            <p>Item</p>
            <i class="icon ion-ios-more"></i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" nav-direction="forward" ui-sref="manageUser">
            <img src="img/avatar-img.png">
            <h2>Title</h2>
            <p>Item</p>
            <i class="icon ion-ios-more"></i>
        </ion-item>
    </ion-list>
</ion-content>