<ion-view cache-view="false">
    <style>
        .user-center-header{
            position: absolute;
            bottom: 65px;
            top:0;
            height: auto;
        }
        .user-center-header-row{
            height: 100% !important;

        }
        .user-center-header{
            background-color: #47A0DB !important;
        }
        .user-center-header-row h4{
            color: white;
            top: 20px;
            position: absolute;
            width: 100%;
        }

        ion-footer-bar{
            pointer-events: none;
            cursor: default;
        }
        ion-footer-bar .button.active, ion-footer-bar .button.activated {
            border-color: transparent;
            background-color: transparent;
            box-shadow: none;
        }
    </style>
    <ion-footer-bar align-title="left" style="padding: 0;">
        <div class="button-bar">
            <button class="button">
                <div style="font-size: 12px; line-height: 12px; margin-top: 10px;">访问总天数</div>
                <div style="font-size: 24px;">{{user.statistics.total}}</div>
            </button>
            <button class="button">
                <div style="font-size: 12px; line-height: 12px; margin-top: 10px;">本月</div>
                <div style="font-size: 24px;">{{user.statistics.month}}</div>
            </button>
            <button class="button">
                <div style="font-size: 12px; line-height: 12px; margin-top: 10px;">本周</div>
                <div style="font-size: 24px;">{{user.statistics.week}}</div>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>