<ion-side-menus>
    <ion-side-menu side="left">
        <ion-content padding="true" scroll="true">
            <ion-list>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person-stalker"></i>
                    门禁卡
                    <span class="badge badge-assertive">0</span>
                </a>
                <ion-item>优惠券</ion-item>
                <ion-item>周边美食</ion-item>
                <ion-item>停车位查询</ion-item>
                <ion-item>大楼水牌</ion-item>
                <ion-item>大楼环境检测</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-pane ion-side-menu-content="">
        <ion-header-bar class="user-center-header">
            <a menu-toggle="left" class="button button-clear icon ion-navicon"></a>
            <div class="title" style="height: 100%;">
                <div class="row row-center" style="height: 220px;">
                    <div class="col-5"></div>
                    <div class="col">
                        <a style="width: 40px;display: block; margin: 0 auto;" href="#/qr-card" class="button icon ion-qr-scanner"></a>
                    </div>
                    <div class="col">
                        <div style="margin: 0 auto;width:100px;height:100px;border-radius:100px;background-image: url(img/avatar-img.png); background-position: center; background-size: cover;"></div>
                    </div>
                    <div class="col">
                        <a style="width: 40px;display: block; margin: 0 auto;"  class="button icon ion-android-add"></a>
                    </div>
                    <div class="col-5"></div>
                </div>
                <div class="button-bar">
                    <button class="button button-stable button-block active">进行中</button>
                    <button class="button button-stable button-block ">访客</button>
                </div>
            </div>
        </ion-header-bar>
        <ion-nav-view name="user-center"></ion-nav-view>


    </ion-pane>
</ion-side-menus>