<ion-view cache-view="false">
    <style>
        .user-center-header, .user-center-header-row{
            height: 100% !important;
            background-color: transparent;
            padding-bottom: 65px;

        }
        .user-center-header-row h4{
            color: white;
            top: 10px;
            position: absolute;
            width: 33.333%;
        }
        .view-container .pane{
            background-color: #47A0DB;

        }
        ion-footer-bar .button.active, ion-footer-bar .button.activated {
            border-color: transparent;
            background-color: transparent;
            box-shadow: none;
        }
    </style>
    <ion-footer-bar align-title="left" style="padding: 0;">
        <div class="button-bar">
            <button class="button">
                <div style="font-size: 12px; line-height: 12px; margin-top: 10px;">First</div>
                <div style="font-size: 24px;">647</div>
            </button>
            <button class="button">
                <div style="font-size: 12px; line-height: 12px; margin-top: 10px;">First</div>
                <div style="font-size: 24px;">203</div>
            </button>
            <button class="button">
                <div style="font-size: 12px; line-height: 12px; margin-top: 10px;">First</div>
                <div style="font-size: 24px;">34</div>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>