<ion-view title="verifying-user">
    <ion-content padding="true" class="no-header content-wraper cover-image"
                 style="background-image: url('img/verifying-user-bg.jpg')" scroll="false">
        <div class="row flex-vertical text-center" style="height: 100%;">
            <div class="col">
                <div class="spacer-20"></div>
                <div class="cover-image avatar user-avatar" style="background-image: url('img/avatar.png')">
                </div>
                <h3>
                    Victoria Gilson
                </h3>

                <h3>
                    您好！
                </h3>

                <div class="spacer-10"></div>
                <p>
                    您的员工申请正在审核中，请耐心等待
                </p>
            </div>
        </div>

        <div class="btn-bottom">
            <div class="text-center btn-des">
                审核通过前，您还可
            </div>
            <button class="button button-balanced button-block">申请成为访客</button>
        </div>
    </ion-content>
</ion-view>