<ion-view title="verifying-user">
    <ion-content padding="true" class="has-header">
        <div style="text-align: center">
            <img src="img/avatar-img.png"/>
            <h3>
                Victoria Gilson
            </h3>
            <h3>
                您好！
            </h3>
            <p>
                您的员工申请正在审核中，请耐心等待
            </p>
            <p>
                审核通过前，您还可以
            </p>
        </div>
    </ion-content>

    <button style="position: absolute; bottom: 20px;" class="button button-stable button-block ">申请成为访客</button>
</ion-view>