<ion-content header-shrink-visitor-center scroll-event-interval="5" id="visitor-center" class="no-header" scrollbar-y="false">
    <div style="height: 220px;"></div>
    <ion-list>
        <ion-item ng-repeat="pass in passList" class="item-avatar item-icon-right border-bottom-half" nav-direction="forward" ui-sref="qrCardVisitor({id:pass.passId})">
            <img ng-if="pass.passStatus != 1" class="status-dot" src="img/wating-dot.svg">
            <img ng-if="pass.passStatus == 1" class="status-dot" src="img/visited-dot.svg">
            <h2 class="item-title">{{pass.passSender.name}} | {{pass.passValFrom * 1000 | date:'MM/dd HH:mm'}}-{{pass.passValTo * 1000 | date:'HH:mm'}}</h2>
            <p class="item-sub-title"> {{pass.passCompany}}</p>
        </ion-item>

    </ion-list>
</ion-content>