<ion-content header-shrink-button-group scroll-event-interval="5" padding="true" class="no-header" scrollbar-y="false">
    <div style="height: 220px;"></div>
    <ion-list>
        <ion-item class="item-avatar">
            <img src="img/wating-dot.svg">
            <h2>等待访问广州范思可信息科技</h2>
            <p>06/18 10:00-12:00</p>
        </ion-item>
        <ion-item class="item-avatar">
            <img src="img/pass-dot.svg">
            <h2>访问广州范思可信息科技</h2>
            <p>06/18 10:00-12:00</p>
        </ion-item>
        <ion-item class="item-avatar">
            <img src="img/pass-dot.svg">
            <h2>访问广州范思可信息科技</h2>
            <p>06/18 10:00-12:00</p>
        </ion-item>
        <ion-item class="item-avatar">
            <img src="img/pass-dot.svg">
            <h2>访问广州范思可信息科技</h2>
            <p>06/18 10:00-12:00</p>
        </ion-item>
        <ion-item class="item-avatar">
            <img src="img/pass-dot.svg">
            <h2>访问广州范思可信息科技</h2>
            <p>06/18 10:00-12:00</p>
        </ion-item>
        <ion-item class="item-avatar">
            <img src="img/pass-dot.svg">
            <h2>访问广州范思可信息科技</h2>
            <p>06/18 10:00-12:00</p>
        </ion-item>
        <ion-item class="item-avatar">
            <img src="img/pass-dot.svg">
            <h2>访问广州范思可信息科技</h2>
            <p>06/18 10:00-12:00</p>
        </ion-item>
    </ion-list>
</ion-content>