<ion-content header-shrink-visitor-center scroll-event-interval="5" class="no-header" scrollbar-y="false">
    <div style="height: 220px;"></div>
    <ion-list>
        <ion-item ng-repeat="pass in passList" class="item-avatar item-icon-right border-bottom-half" nav-direction="forward" ui-sref="qrCardVisitor({id:pass.passId})">
            <img src="img/wating-dot.svg" style="width: 10px;height: 10px;">
            <p class="item-title">{{pass.passCompany}}</p>
            <p class="item-sub-title">{{pass.passValFrom | date:"MM/dd h:mm"}}-{{pass.passValTo | date:'h:mm'}}</p>
            <img src="img/ongoing-icon.svg" class="icon" style="width: 20px; right:20px;"/>
        </ion-item>

    </ion-list>
</ion-content>